@font-face {
  font-family: "TildaSansExtraBold";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.woff2")
      format("woff2"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TildaSansBold";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.woff2")
      format("woff2"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TildaSansRegular";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

$header: #000;
/*заголовки*/
$text: #324665;
/*тексты*/
$btn: #bc2525;
/*кнопки*/
$btn-text: #f1f5fa;
/*текст кнопок*/
$background: #f9f6f1;
/*фон блоков 2,3,5*/
$background-2: #ffffff;
/*фон карточек блока block-progress*/
$border-line: #e7dcc8;
$footer-color1: #ffffff;
$footer-color2: #a2a2a2;
/*цвета текстов футера*/

$font: "TildaSansBold";
$font2: "TildaSansExtraBold";
$font3: "TildaSansRegular";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;

  @media screen and (max-width: 900px) {
    font-size: 90%;
  }

  @media screen and (max-width: 700px) {
    font-size: 80%;
  }

  @media screen and (max-width: 500px) {
    font-size: 70%;
  }

  @media screen and (max-width: 400px) {
    font-size: 60%;
  } /*не работает с указанным размером шрифта*/
}

body {
  display: flex;
  flex-direction: column;
  max-height: 500rem;
  @media (max-width: 1110px) {
    // max-height: 450rem;
    /*эту величину поставила для теста своего блока*/
  }
  @media (max-width: 950px) {
    // max-height: 500rem;
    /*эту величину поставила для теста своего блока*/
  }
  @media (max-width: 900px) {
    // height: 415rem;
    /*эту величину поставила для теста своего блока*/
  }
}
.main {
  display: flex;
  flex-basis: 94.05%;
  flex-direction: column;
  margin-top: 12%;
  @media screen and (max-width: 769px) {
    margin-top: 15%;
  }
  @media screen and (max-width: 392px) {
    margin-top: 19%;
  }
} /*просто блок перенесла выше*/

.container {
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  @media screen and (max-width: 1192px) {
    max-width: 1080px;
  }
  @media screen and (max-width: 1150px) {
    max-width: 1070px;
  }
  @media screen and (max-width: 1088px) {
    max-width: 888px;
  }

  @media screen and (max-width: 919px) {
    max-width: 728px;
  }
  @media screen and (max-width: 828px) {
    max-width: 719px;
  }
  @media screen and (max-width: 789px) {
    max-width: 660px;
  }
  @media screen and (max-width: 752px) {
    max-width: 630px;
  }
  @media screen and (max-width: 652px) {
    max-width: 520px;
  }
  @media screen and (max-width: 552px) {
    max-width: 432px;
  }
  @media screen and (max-width: 452px) {
    max-width: 332px;
  }
  @media screen and (max-width: 380px) {
    max-width: 300px;
  }
}

.button {
  padding: 0.75rem 2.5rem;
  border-radius: 1.5625rem;
  background: $btn;
  border: none;
  backdrop-filter: blur(16px);
  color: $btn-text;
  font-family: $font;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
}

.button:hover {
  background: #d72424;
}

.title-h2 {
  color: $header;
  font-family: $font;
  font-size: 2.5rem;
  line-height: 4rem;

  @media (max-width: 900px) {
    font-size: 2rem;
    line-height: 4rem;
  }

  @media (max-width: 500px) {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  /*шрифт по брейкпойнтам добавила*/
}

.text-p {
  color: $text;
  font-family: $font3;
  font-size: 1.375rem;
  line-height: 2.25rem; /* 163.636% */

  @media (max-width: 900px) {
    font-size: 1.15rem;
    line-height: 2rem;
  }

  @media (max-width: 500px) {
    font-size: 1rem;
    line-height: 1rem;
  }

  /*шрифт по брейкпойнтам добавила*/
}

.text-p__small {
  color: $text;
  font-family: $font3;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem; /* 137.5% */

  @media (max-width: 900px) {
    font-size: 1rem;
    line-height: 1rem;
  }

  @media (max-width: 500px) {
    font-size: 0.9rem;
    line-height: 0.8rem;
  }

  /*шрифт по брейкпойнтам добавила*/
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

li {
  cursor: pointer;
}

.text-p__small {
  color: $text;
  font-family: $font3;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;

  @media (max-width: 900px) {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  @media (max-width: 500px) {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  /*шрифт по брейкпойнтам добавила*/
}
