@import "./template";

/* header start */
.header {
  flex-basis: 3.18%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 3.5rem 1rem 3.5rem 0;

  @media screen and (max-width: 769px) {
    padding: 2rem 1rem 2rem 0;
  }
}

.header__logo {
  align-self: center;

  @media screen and (max-width: 769px) {
    order: 1;
  }
}

.header__img {
  width: 4rem;

  @media screen and (max-width: 769px) {
    width: 5rem;
  }
}

.header__nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  overflow: hidden;

  @media screen and (max-width: 769px) {
    margin-top: 26rem; //4rem
  }
  @media screen and (max-width: 361px) {
    margin-top: 40rem; //4rem
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 40%;

  @media screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40%;
  }

  @media screen and (max-width: 361px) {
    padding-left: 30%;
  }
}

.header a {
  text-decoration: none;
}

.header__item {
  list-style: none;
}

.header__link {
  display: block;
  padding: 30px;
  color: $header;
  text-align: center;
  width: 8rem;
}

.header__link:hover {
  color: $btn;
}

.header__nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.header__hamb {
  cursor: pointer;
  float: left;
  padding: 23px;
} /* Style label tag */

.header__hamb-line {
  background: $text;
  border-radius: 0.1875rem;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.header__hamb-line::before,
.header__hamb-line::after {
  background: $text;
  border-radius: 0.1875rem;
  content: "";
  display: block;
  height: 110%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header__hamb-line::before {
  top: 5px;
}
.header__hamb-line::after {
  top: -5px;
}

.header__side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.header__side-menu:checked ~ .header__nav {
  max-height: 100%;
}
.header__side-menu:checked ~ .header__hamb .header__hamb-line {
  background: transparent;
}
.header__side-menu:checked ~ .header__hamb .header__hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.header__side-menu:checked ~ .header__hamb .header__hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media screen and (min-width: 769px) {
  .header__nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }

  .header__item {
    float: left;
  }

  .header__link:hover {
    background-color: transparent;
    color: $btn;
  }

  .header__hamb {
    display: none;
  }
}

/* button */
.header__btn-container {
  @media screen and (max-width: 769px) {
    order: 2;
  }
}

.header__btn {
  display: inline-block;
  /* margin: 0 14px 0 12px; */
}
/* header end */

.block-festival {
  flex-basis: 11.25%;

  .block-festival__container {
    max-width: 71.25rem;
    margin: 0 auto;
    .block-festival__content {
      background-position: top center;
      background-size: initial;
      padding-bottom: 11.25rem;
      .block-festival__text {
        font-family: $font;
        font-size: 4rem;
        line-height: 5rem;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        .block-festival__video {
          min-height: 60vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .block-festival__video-item {
            width: 60rem;
            padding: 1.5rem 0;
          }
        }
        .block-festival__text-p {
          font-family: $font3;
          font-size: 1.5rem;
          line-height: 1.8125rem;
          margin-bottom: 3.5rem;
          text-align: center;
        }
      }
      .block-festival__logo-img {
        margin-right: 0.625rem;
        margin-bottom: 0.625rem;
        height: 9.375rem;
        .block-festival__logo-img img {
          max-width: 100%;
        }
      }
    }
    .block-festival__why {
      margin-top: 3.75rem;
      display: grid;
      gap: 5rem;
      grid-template-columns: repeat(3, 312px);
      justify-content: center;
      .block-festival__why-item {
        text-align: center;
        .block-festival__why-item-img {
          height: 13.125rem;
          max-width: 100%;
        }
        .block-festival__why-item-title {
          font-family: 'TildaSansMedium', sans-serif;
          font-size: 1.5rem;
          line-height: 1.8125rem;
          padding: 1.5rem 0;
        }
        .block-festival__why-item-text {
          font-family: $font3;
          font-size: 1rem;
          line-height: 140%;
          .block-festival__why-item-text-p {
            text-align: left;
            font-size: 20px;
            margin-left: 20px;
          }
        }
      }
    }

    .block-festival__buttons {
      display: flex;
      flex-basis: 40%;
      justify-content: space-around;
      margin: 3.75rem 0 ;
      .block-festival__button {
        display: inline-block;
        align-self: center;
        .block-festival__button-1 {
          text-decoration: none;
        }
      }
    }
  }
}