@charset "UTF-8";
@font-face {
  font-family: "TildaSansExtraBold";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.woff2") format("woff2"), url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansBold";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.woff2") format("woff2"), url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansRegular";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff2") format("woff2"), url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*заголовки*/
/*тексты*/
/*кнопки*/
/*текст кнопок*/
/*фон блоков 2,3,5*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media (max-width: 900px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 60%;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 312.5rem;
  /*пока ставлю как по макету текущему на дескопе*/
}

.container {
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.button {
  padding: 0.75rem 2.5rem;
  border-radius: 1.5625rem;
  background: #BC2525;
  border: none;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  color: #F1F5FA;
  font-family: "TildaSansBold";
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
}

.button:hover {
  background: #D72424;
}

.title-h2 {
  color: #000;
  font-family: "TildaSansBold";
  font-size: 2.5rem;
  line-height: 4rem;
  /* 160% */
}

.text-p {
  color: #324665;
  font-family: "TildaSansRegular";
  font-size: 1.375rem;
  line-height: 2.25rem;
  /* 163.636% */
}

.text-p__small {
  color: #324665;
  font-family: "TildaSansRegular";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  /* 137.5% */
}

.header {
  flex-basis: 3.18%;
}

.main {
  display: flex;
  flex-basis: 94.05%;
  flex-direction: column;
}

.block-festival {
  flex-basis: 11.25%;
}

.block-progress {
  flex-basis: 15.37%;
}

.block-partners {
  flex-basis: 12.4%;
}

.block-competition {
  display: flex;
  flex-basis: 15.82%;
}
.block-competition .block-competition__container {
  display: flex;
  flex: 1;
  border-radius: 4.6875rem;
  box-shadow: 0px 25px 100px 0px rgba(2, 43, 121, 0.1);
}
.block-competition .block-competition__container .block-competition__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 75%;
  gap: 5%;
  padding-left: 6.19rem;
  padding-top: 3.87rem;
}
.block-competition .block-competition__container .block-competition__content .block-competition__text {
  display: flex;
  flex-direction: column;
  flex-basis: 52%;
  justify-content: space-around;
  gap: 5%;
}
.block-competition .block-competition__container .block-competition__content .block-competition__text .block-competition__title {
  text-align: center;
}
.block-competition .block-competition__container .block-competition__content .block-competition__nomination {
  flex-basis: 30%;
}
.block-competition .block-competition__container .block-competition__content .block-competition__nomination .block-competition__nomination-title {
  color: #BC2525;
  font-family: "TildaSansBold";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.625rem;
}
.block-competition .block-competition__container .block-competition__content .block-competition__nomination .block-competition__nomination-list .block-competition__nomination-item {
  font-weight: 700;
  line-height: 2.25rem;
  color: #000;
  list-style-type: none;
}
.block-competition .block-competition__container .block-competition__content .block-competition__text-2 {
  flex-basis: 12%;
}
.block-competition .block-competition__container .block-competition__img-block {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}
.block-competition .block-competition__container .block-competition__img-block .block-competition__img {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-right: -20%;
  background-image: url(../images/competition-background.png);
  background-size: 34.8125rem 25.14531rem;
  background-position: 60% 50%;
  background-repeat: no-repeat;
}
.block-competition .block-competition__container .block-competition__img-block .block-competition__img .block-competition__img-inner {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  background-image: url(../images/competition-girl.png);
  background-position: 70% 60%;
  background-repeat: no-repeat;
}
.block-competition .block-competition__container .block-competition__img-block .block-competition__img .block-competition__vector {
  width: 23.17156rem;
  height: 4.95231rem;
  transform: rotate(-15.203deg);
  flex-shrink: 0;
}
.block-competition .block-competition__container .block-competition__img-block .block-competition__buttons {
  display: flex;
  flex-basis: 40%;
  justify-content: space-around;
}
.block-competition .block-competition__container .block-competition__img-block .block-competition__buttons .block-competition__button {
  display: inline-block;
  align-self: center;
}
.block-competition .block-competition__container .block-competition__img-block .block-competition__buttons .block-competition__button .block-competition__button-1 {
  text-decoration: none;
}

.block-review {
  flex-basis: 24.86%;
}

.block-help {
  flex-basis: 20.3%;
  /*может блок в дальнейшем будет меньше, пока ставлю по макету*/
}

.footer {
  flex-basis: 2.77%;
}

/* header start */
.header {
  flex-basis: 3.18%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 3.5rem 1rem 3.5rem 0;
}
@media screen and (max-width: 769px) {
  .header__container {
    padding: 2rem 1rem 2rem 0;
  }
}

.header__logo {
  align-self: center;
}
@media screen and (max-width: 769px) {
  .header__logo {
    order: 1;
  }
}

.header__img {
  width: 4rem;
}
@media screen and (max-width: 769px) {
  .header__img {
    width: 5rem;
  }
}

.header__nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  overflow: hidden;
}
@media screen and (max-width: 769px) {
  .header__nav {
    margin-top: 26rem;
  }
}
@media screen and (max-width: 361px) {
  .header__nav {
    margin-top: 40rem;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 40%;
}
@media screen and (max-width: 769px) {
  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40%;
  }
}
@media screen and (max-width: 361px) {
  .header__list {
    padding-left: 30%;
  }
}

.header a {
  text-decoration: none;
}

.header__item {
  list-style: none;
}

.header__link {
  display: block;
  padding: 30px;
  color: #000;
  text-align: center;
  width: 8rem;
}

.header__link:hover {
  color: #BC2525;
}

.header__nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.header__hamb {
  cursor: pointer;
  float: left;
  padding: 23px;
} /* Style label tag */
.header__hamb-line {
  background: #324665;
  border-radius: 0.1875rem;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */
.header__hamb-line::before,
.header__hamb-line::after {
  background: #324665;
  border-radius: 0.1875rem;
  content: "";
  display: block;
  height: 110%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header__hamb-line::before {
  top: 5px;
}

.header__hamb-line::after {
  top: -5px;
}

.header__side-menu {
  display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.header__side-menu:checked ~ .header__nav {
  max-height: 100%;
}

.header__side-menu:checked ~ .header__hamb .header__hamb-line {
  background: transparent;
}

.header__side-menu:checked ~ .header__hamb .header__hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.header__side-menu:checked ~ .header__hamb .header__hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media screen and (min-width: 769px) {
  .header__nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header__item {
    float: left;
  }
  .header__link:hover {
    background-color: transparent;
    color: #BC2525;
  }
  .header__hamb {
    display: none;
  }
}
/* button */
@media screen and (max-width: 769px) {
  .header__btn-container {
    order: 2;
  }
}

.header__btn {
  display: inline-block;
  /* margin: 0 14px 0 12px; */
}

/* header end *//*# sourceMappingURL=style.css.map */