@import "./template";

/* header start */
.header {
  // flex-basis: 1%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  -webkit-tap-highlight-color: transparent;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;

  @media screen and (max-width: 769px) {}
}

.header__logo {
  align-self: center;

  @media screen and (max-width: 769px) {
    order: 1;
  }
}

.header__img {
  width: 4rem;

  @media screen and (max-width: 769px) {
    width: 5rem;
  }
}

.header__nav {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;

  @media screen and (max-width: 769px) {
    top: 80.55px;
  }

  @media screen and (max-width: 700px) {
    top: 73.6px;
  }

  @media screen and (max-width: 534px) {}

  @media screen and (max-width: 500px) {
    top: 70.4px;
  }

  @media screen and (max-width: 492px) {}

  @media screen and (max-width: 400px) {
    top: 67.2px;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-content: center;

  @media screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 361px) {
    padding-top: 1rem;
  }
}

.header a {
  text-decoration: none;
}

.header__item {
  list-style: none;
  font-family: $font2;
}

.header__link {
  display: block;
  padding: 30px;
  color: $header;
  text-align: center;

  @media screen and (max-width: 1089px) {
    padding: 15px;
  }

  @media screen and (max-width: 919px) {
    padding: 10px;
  }

  @media screen and (max-width: 769px) {
    padding: 18px;
  }
}

.header__link:hover {
  color: $btn;
}

.header__nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.header__hamb {
  cursor: pointer;
  float: left;
  padding: 23px;
}

/* Style label tag */

.header__hamb-line {
  background: $text;
  border-radius: 0.1875rem;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

/* Style span tag */

.header__hamb-line::before,
.header__hamb-line::after {
  background: $text;
  border-radius: 0.1875rem;
  content: "";
  display: block;
  height: 110%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header__hamb-line::before {
  top: 5px;
}

.header__hamb-line::after {
  top: -5px;
}

.header__side-menu {
  display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.header__side-menu:checked~.header__nav {
  max-height: 100%;
}

.header__side-menu:checked~.header__hamb .header__hamb-line {
  background: transparent;
}

.header__side-menu:checked~.header__hamb .header__hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.header__side-menu:checked~.header__hamb .header__hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media screen and (min-width: 769px) {
  .header__nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }

  .header__item {
    float: left;
  }

  .header__link:hover {
    background-color: transparent;
    color: $btn;
  }

  .header__hamb {
    display: none;
  }
}

/* button */
.header__btn-container {
  @media screen and (max-width: 769px) {
    order: 2;
  }
}

.header__btn {
  display: inline-block;
  color: $btn-text;
  width: 9rem;
}

/* header end */

/* block-festival start */
.block-festival {
  flex-basis: 11.25%;

  .block-festival__container {
    margin: 0 auto;

    .block-festival__content {
      background-position: top center;
      background-size: initial;
      margin-bottom: 1rem;

      .block-festival__text {
        font-family: $font;
        font-size: 4rem;
        line-height: 5rem;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        .block-festival__video {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          .block-festival__video-item {
            width: 100%;
            height: auto;
            padding: 1.5rem 0;
            aspect-ratio: 16 / 9;
          }
        }

        .block-festival__text-p {
          font-family: $font3;
          font-size: 1.5rem;
          line-height: 1.8125rem;
          margin-bottom: 3.5rem;
          text-align: center;
          width: 95%;
        }
      }

      .block-festival__logo-img {
        margin-right: 0.625rem;
        margin-bottom: 0.625rem;
        height: 9.375rem;

        .block-festival__logo-img img {
          max-width: 100%;
        }
      }
    }

    .block-festival__why {
      margin-top: 2.75rem;
      display: grid;
      gap: 3rem;
      grid-template-columns: repeat(auto-fit, 322px);
      justify-content: center;

      .block-festival__why-item {
        margin: 3%;
        border: 2px solid #e7dcc8;
        border-radius: 15px;
        background-color: #ffffff;
        text-align: center;

        .block-festival__why-item-img {
          border-radius: 15px;
          height: 13.125rem;
          max-width: 100%;
        }

        .block-festival__why-item-title {
          font-family: "TildaSansMedium", sans-serif;
          font-size: 1.5rem;
          line-height: 1.8125rem;
          padding: 1.5rem 0;
        }

        .block-festival__why-item-text {
          font-family: $font3;
          font-size: 1rem;
          font-weight: 700;

          .block-festival__why-item-text-p {
            text-align: left;
            font-weight: 400;
            margin-left: 20px;
            margin-bottom: 1rem;
          }
        }
      }
    }

    .block-festival__buttons {
      display: flex;
      justify-content: center;
      margin: 3.73rem auto;
      column-gap: 10%;
      text-decoration: none;
    }
  }
}

/* block-festival end */

/* block-progress start*/
.block-progress {
  flex-basis: 15.37%;
  background-color: $background;
}

.container-two {
  display: flex;
  flex-direction: column;

  .block-progress__main-wrapper {
    display: flex;

    @media screen and (max-width: 694px) {
      flex-direction: column;
    }

    .block-progress__wrapper-two {
      .block-progress__img {
        max-width: 100%;
        width: 100%;
        padding-top: 10%;

        @media screen and (max-width: 694px) {
          max-width: 100%;
          width: 100%;
          padding-top: 0;
        }
      }
    }
  }
}

/*the part with the main text of block-progress*/
.block-progress__wrapper {
  max-width: 50%;
  width: 100%;
  padding-top: 7%;

  @media screen and (max-width: 694px) {
    max-width: 100%;
  }

  .block-progress__title {
    margin-bottom: 1.38rem;

    @media screen and (max-width: 694px) {
      text-align: center;
    }
  }

  .block-progress__text {
    max-width: 100%;
    width: 100%;
    height: 80%;
    color: $text;
    font-family: $font3;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    margin-bottom: 3rem;
  }
}

/*The part with the cards of block-progress*/
.cards {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  flex-wrap: wrap;

  .card__title {
    margin-bottom: 8px;
    font-family: $font2;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
    color: $header;
    text-align: center;
  }

}

.block-projects__wrapper {
  .card {
    max-width: 220px;
    width: 100%;
    border: 3px solid $border-line;
    border-radius: 15px;

    @media screen and (max-width: 901px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 553px) {
      max-width: 400px;
    }

    .card__wrapper {
      max-width: 100%;
      background-color: $background-2;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .card__img {
        padding: 30% 10% 30% 10%;
      }

      .card__img-size {
        max-width: 100%;
        width: 100%;
        min-height: 200px;
        border-radius: 15px;
      }

      .card__img-one {
        background-color: $background;
        border-radius: 15px;
      }

      .title-h3 {
        margin-bottom: 1rem;
      }

      .card__text {
        padding: 5% 5% 0 5%;
        line-height: 20px;
      }

      .text-p__block {
        margin-bottom: 3.88rem;
      }

      .card__link {
        padding-bottom: 10px;
        display: block;
        text-align: center;
        justify-self: flex-end;
        text-decoration: none;
        color: $btn;
      }
    }
  }
}

.block-progress__wrapper-two {
  @media screen and (max-width: 694px) {
    margin-bottom: 30px;
  }
}

.card__text-p-one {
  margin-bottom: 56px;
}

.card__text-p-two {
  margin-bottom: 36px;

  @media screen and (max-width: 701px) {
    margin-bottom: 82px;
  }
}

.card__text-p-three {
  @media screen and (max-width: 901px) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 753px) {
    margin-bottom: 74px;
  }
}

.card__text-p-four {
  margin-bottom: 56px;

  @media screen and (max-width: 901px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 701px) {
    margin-bottom: 102px;
  }
}

.card__text-p-five {
  margin-bottom: 70px;
}

/* block-progress end */

/* block-partners start */
.block-partners {
  flex-basis: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;

  background: $background;

  .container-column {
    max-width: 1140px;
    min-width: 320px;
    width: 100%;

    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .partners__heading {
      display: flex;
      margin: 0 auto;
    }

    .partners__slider {
      width: 100%;

      display: flex;
      justify-content: space-around;
      align-items: start;
      padding: 3% 3% 3% 3rem;
      margin: 3% auto 3% auto;

      background-color: #fff;
      border-radius: 4.6875rem;
      box-shadow: 0px 15px 40px 0px rgba(2, 43, 121, 0.1);
      overflow-x: auto;

      .slider--track {
        width: 100%;

        display: flex;
        margin: 0 auto;
        align-self: center;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;

        .slide {
          flex: none;
          scroll-snap-align: start;
          width: 23%;
          margin: 0 1rem;

          @media (max-width: 900px) {
            width: 23%;
          }

          @media (max-width: 700px) {
            width: 31%;
          }

          @media (max-width: 500px) {
            width: 47%;
          }

          @media (max-width: 400px) {
            width: 100%;
          }
        }

        .slide img {
          height: 3rem;
          margin-bottom: 1rem;
        }

        .slide .text-p__small {
          width: 100%;
        }
      }
    }

    .partners__buttons {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      column-gap: 20%;
      align-items: center;

      .partners__buttons button {
        width: 100%;
      }
    }
  }
}

/* block-partners end */

/* block-competition start */
.block-competition {
  display: flex;
  flex-basis: 25%;
  max-height: fit-content;
  justify-content: center;
  background: linear-gradient($background, 90%, white);
  padding-top: 5%;
  margin-bottom: 5%;

  @media (max-width: 900px) {
    padding-top: 7%;
    margin-bottom: 7%;
  }

  .block-competition__container {
    display: flex;
    flex: 1;
    background: white;
    border-radius: 4.6875rem;
    box-shadow: 0px 25px 100px 0px rgba(2, 43, 121, 0.1);

    @media (max-width: 920px) {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .block-competition__content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-basis: 75%;
      gap: 5%;
      padding-left: 6.19rem;
      padding-top: 3%;
      margin-bottom: 3%;

      @media (max-width: 1110px) {
        gap: 2%;
      }

      @media (max-width: 900px) {
        flex-basis: 60%;
        max-width: 80%;
        padding-left: 0;
      }

      .block-competition__text {
        display: flex;
        flex-direction: column;
        flex-basis: 52%;
        justify-content: space-around;
        gap: 3%;

        @media (max-width: 900px) {
          text-align: center;
          flex-basis: 40%;
        }

        .block-competition__title {
          text-align: center;
        }
      }

      .block-competition__nomination {
        flex-basis: 30%;

        @media (max-width: 900px) {
          text-align: center;
        }

        .block-competition__nomination-title {
          color: $btn;
        }

        .block-competition__nomination-list {
          font-weight: 700;
          line-height: 1.5rem;
          color: $header;
          list-style-type: none;

          @media (max-width: 900px) {
            font-size: 0.8rem;
            font-weight: 600;
            line-height: 2rem;
          }
        }

        ul.block-competition__nomination-list {
          @media (max-width: 900px) {
            display: flex;
            justify-content: space-around;
          }
        }
      }

      .block-competition__text-2 {
        flex-basis: 12%;
        margin-bottom: 5%;

        @media (max-width: 900px) {
          text-align: center;
        }
      }
    }

    .block-competition__img-block {
      display: flex;
      flex-direction: column;
      flex-basis: 60%;

      @media (max-width: 900px) {
        flex-basis: 40%;
      }

      .block-competition__img {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin-right: -20%;
        background-image: url(../images/competition-background.png);
        background-size: 34.8125rem 25.14531rem;
        background-position: 60% 50%;
        background-repeat: no-repeat;

        @media (max-width: 1300px) {
          margin-right: 0%;
          background-size: 100%;
        }

        @media (max-width: 920px) {
          margin-right: 0%;
          background-image: url(../images/competition-girlgroup.png);
          background-size: 100% auto;
        }

        @media (max-width: 916px) {
          background-size: 80% auto;
        }

        @media (max-width: 760px) {
          background-size: 70% auto;
        }

        @media (max-width: 652px) {
          background-image: none;
        }

        .block-competition__img-inner {
          display: flex;
          flex-basis: 50%;
          align-items: center;
          justify-content: center;
          background-image: url(../images/competition-girl.png);
          background-position: 70% 60%;
          background-repeat: no-repeat;

          @media (max-width: 920px) {
            background-image: none;
          }
        }

        .block-competition__vector {
          width: 23.17156rem;
          height: 4.95231rem;
          transform: rotate(-15.203deg);
          flex-shrink: 0;

          @media (max-width: 920px) {
            display: none;
          }
        }
      }

      .block-competition__buttons {
        display: flex;
        flex-basis: 40%;
        justify-content: space-around;

        @media (max-width: 920px) {
          width: 30rem;
          margin-bottom: 3%;
        }

        @media (max-width: 500px) {
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }

        .block-competition__button {
          display: inline-block;
          align-self: center;

          .block-competition__button-1 {
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* block-competition end */

/* block-review start */
@mixin card-style {
  width: 15.6875rem;
  height: 9.70481rem;
  flex-shrink: 0;
  filter: drop-shadow(0px 25px 50px rgba(50, 70, 101, 0.2));
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.block-review {
  flex-basis: 24.86%;
  flex-direction: column;
  margin-bottom: 5%;

  @media (max-width: 920px) {
    margin-bottom: 7%;
  }
}

.box-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 25rem;
  border-radius: 4.6875rem;
  background: $background;
  box-shadow: 0px 25px 100px 0px rgba(2, 43, 121, 0.1);

  @media screen and (max-width: 900px) {
    height: 43rem;
  }
}

.box-review__header-wrapper {
  display: flex;
  width: 100%;
  height: 10.31rem;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 900px) {
    height: 6rem;
  }
}

.box-review__review-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex: 1;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.box-review__review-card {
  @include card-style;
}

.card-background__white {
  background-color: #fff;
}

.card-background__gold {
  background-color: #a98b5c;
}

.review__text-block {
  width: 13rem;
  height: 4.5rem;
  flex-shrink: 0;
}

.review__signature-block {
  width: 13rem;
  height: 3.95rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.avatar {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  flex-grow: 1;
}

.review__signature {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signature__name {
  color: #324665;
  font-family: Tilda Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
}

.text-p__extra-small {
  color: $text;
  font-family: $font3;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gallery {
  display: flex;
  width: 100%;
  padding-top: 6.06rem;
  margin-bottom: 2rem;
  height: 30rem;
}

.gallery__box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.gallery__box>img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.gallery__box:hover {
  flex: 1 1 50%;
}

.gallery__box:hover>img {
  width: 100%;
  height: 100%;
}

.review__buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  column-gap: 20%;
  align-items: center;
  width: 100%;
}

/* block-review start */

/* block-help start */
.block-help {
  flex-basis: 12%;
  display: flex;
  margin-bottom: 5%;

  @media (max-width: 500px) {
    flex-basis: 8%;
  }

  .block-help__container {
    gap: 5%;
    width: 100%;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    .block-help__content {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media (max-width: 500px) {
        flex-basis: 100%;
        align-items: center;
      }

      .block-help__text {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 10%;
        margin-bottom: 4%;

        @media (max-width: 500px) {
          align-items: center;
          text-align: center;
        }
      }

      .block-help__buttoms {
        flex-basis: 40%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .block-help__button {
          display: inline-block;
          align-self: center;

          .block-help__button-1 {
            text-decoration: none;
          }
        }
      }
    }

    .block-help__img {
      display: flex;
      flex-basis: 50%;

      @media (max-width: 500px) {
        display: none;
      }

      .block-help__image {
        width: 100%;
      }
    }
  }
}

/* block-help end */

/*footer start*/
.footer {
  flex-basis: 2.77%;
  background-color: $header;

  .footer-container {
    display: block;
  }
}

.footer__wrapper {
  min-height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 39px;

  @media screen and (max-width: 694px) {
    min-height: 80px;
    padding-top: 30px;
  }

  /* Часть с лого */
  .footer__logo {
    flex-basis: 10%;

    .logo-img {
      width: 4rem;
    }
  }
}

/* Часть с меню и ссылками */
.footer__nav {
  flex-grow: 1;

  @media screen and (max-width: 941px) {
    display: none;
  }

  .footer__menu {
    display: flex;
    justify-content: space-evenly;

    .footer__item {
      list-style: none;

      .footer__link {
        color: $footer-color1;
        font-family: $font;
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }
}

/* Часть с иконками */
.icons-box {
  width: 2rem;
  height: 2rem;
  flex-basis: 13%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 918px) {
    flex-basis: 20%;
  }

  @media screen and (max-width: 655px) {
    flex-basis: 25%;
  }

  @media screen and (max-width: 555px) {
    flex-basis: 25%;
  }

  @media screen and (max-width: 455px) {
    flex-basis: 25%;
  }

  @media screen and (max-width: 371px) {
    flex-basis: 25%;
  }
}

/*Часть с нижней строчкой надписей*/

.footer__second-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 39px;

  @media screen and (max-width: 589px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .text-line {
    color: $footer-color2;
    font-family: $font3;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .footer__secont-text {
    display: flex;

    .block__text-one {
      margin-right: 16px;
    }
  }
}

/*footer end*/