
@import './template';

.block-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 2%;

    background: $background;

    .container-column {
        max-width: 1140px;
        min-width: 320px;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .partners__heading {
            display: flex;
            margin: 0 auto;
        }
    
        .partners__slider {
            width: 100%;
        
            display: flex;
            justify-content: space-around;
            align-items: start;
            padding: 3% 3% 3% 3rem;
            margin: 3% auto 3% auto;
        
            background-color: #fff;
            border-radius: 4.6875rem;
            box-shadow: 0px 15px 40px 0px rgba(2, 43, 121, 0.10);
            overflow-x: auto;

            .slider--track {
                width: 100%;
            
                display: flex;
                margin: 0 auto;
                align-self: center;
            
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                -webkit-overflow-scrolling: touch;

                .slide {
                    flex: none;
                    scroll-snap-align: start;
                    width: 23%;
                    margin: 0 1rem;
                
                    @media (max-width: 900px) {
                        width: 23%;
                    }
                
                    @media (max-width: 700px) {
                        width: 31%;
                    }
                
                    @media (max-width: 500px) {
                        width: 47%;
                    }
                
                    @media (max-width: 400px) {
                        width: 100%;
                    }
                }
                
                .slide img {
                    height: 3rem;
                    margin-bottom: 1rem;
                }
                
                .slide .text-p__small {
                    width: 100%;
                }
            }
        }
        .partners__buttons {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            column-gap: 20%;
            align-items: center;
        
            .partners__buttons button {
            width: 100%;
            }
        }
    } 
}

/* header start */
.header {
  flex-basis: 3.18%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 3.5rem 1rem 3.5rem 0;

  @media screen and (max-width: 769px) {
    padding: 2rem 1rem 2rem 0;
  }
}

.header__logo {
  align-self: center;

  @media screen and (max-width: 769px) {
    order: 1;
  }
}

.header__img {
  width: 4rem;

  @media screen and (max-width: 769px) {
    width: 5rem;
  }
}

.header__nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  overflow: hidden;

  @media screen and (max-width: 769px) {
    margin-top: 26rem; //4rem
  }
  @media screen and (max-width: 361px) {
    margin-top: 40rem; //4rem
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 40%;

  @media screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40%;
  }

  @media screen and (max-width: 361px) {
    padding-left: 30%;
  }
}

.header a {
  text-decoration: none;
}

.header__item {
  list-style: none;
}

.header__link {
  display: block;
  padding: 30px;
  color: $header;
  text-align: center;
  width: 8rem;
}

.header__link:hover {
  color: $btn;
}

.header__nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.header__hamb {
  cursor: pointer;
  float: left;
  padding: 23px;
} /* Style label tag */

.header__hamb-line {
  background: $text;
  border-radius: 0.1875rem;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.header__hamb-line::before,
.header__hamb-line::after {
  background: $text;
  border-radius: 0.1875rem;
  content: "";
  display: block;
  height: 110%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header__hamb-line::before {
  top: 5px;
}
.header__hamb-line::after {
  top: -5px;
}

.header__side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.header__side-menu:checked ~ .header__nav {
  max-height: 100%;
}
.header__side-menu:checked ~ .header__hamb .header__hamb-line {
  background: transparent;
}
.header__side-menu:checked ~ .header__hamb .header__hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.header__side-menu:checked ~ .header__hamb .header__hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media screen and (min-width: 769px) {
  .header__nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }

  .header__item {
    float: left;
  }

  .header__link:hover {
    background-color: transparent;
    color: $btn;
  }

  .header__hamb {
    display: none;
  }
}

/* button */
.header__btn-container {
  @media screen and (max-width: 769px) {
    order: 2;
  }
}

.header__btn {
  display: inline-block;
  /* margin: 0 14px 0 12px; */
}
/* header end */


/* Блок достижения block-progress*/
.block-progress {
  background-color: $background;
}

.container-two{
  
  display: flex;
  flex-direction: column;
  .block-progress__main-wrapper{
      display: flex;
      .block-progress__wrapper-two{
          .block-progress__img{
            max-width: 100%;
            width: 100%;
              padding-top: 10%;
          }
      }
  }
}

/*Часть с основным текстом block-progress*/
  .block-progress__wrapper {
      max-width: 50%;
      width: 100%;
      padding-top: 7%;
     

      .block-progress__title {
          
          margin-bottom: 1.38rem;
      }


      .block-progress__text {
          max-width: 100%;
          width: 100%;
          height: 80%;
          color: $text;
          font-family: $font3;
          font-size: 1.375rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.25rem;
          margin-bottom: 3rem;

      }
  }
/*Часть с карточками проектов блока block-progress*/
  .cards{
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
      flex-wrap: wrap;
               
          .card__title{
            margin-bottom: 8px;
            font-family: $font2;
            font-size: 1.75rem;
            font-weight: 700;
            line-height: normal;
            color: $header;
            text-align: center;

          }
          .card__text{
              
            font-family: $font3;
            color: $text;
            font-weight: 400;
            font-size: 1.0625rem;
          }
      }
  
.block-projects__wrapper{
  
  
  .card{
      max-width: 220px;
      width: 100%;
      
      .card__wrapper{
          margin: 5%;
          border: 3px solid #e7dcc8;
          border-radius: 15px;
          background-color: #ffffff;

          .card__img{
              padding: 20% 2% 20% 2%;
          }
          .card__img-size{
              max-width: 100%;
              width: 100%;
              min-height: 200px;
          }
          .title-h3{
              margin-bottom: 1rem;
          }
        .card__text{
          margin-bottom: 1rem;
          padding: 5% 5% 0 5%;
          

        }
        .text-p__block{
          margin-bottom: 3.88rem;

        }
        .card__link{
          margin-bottom: 1rem;
          display: block;
          text-align: center;
          text-decoration: none;
          color: $btn;
        }
      }
      

  }
}
.block-competition {
  display: flex;
  flex-basis: 21%;
  justify-content: center;
  background: $background;

  .block-competition__container {
      display: flex;
      flex: 1;
      background: white;
      border-radius: 4.6875rem;
      box-shadow: 0px 25px 100px 0px rgba(2, 43, 121, 0.10);

      @media (max-width: 900px) {
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
      }

      .block-competition__content {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          flex-basis: 75%;
          gap: 5%;
          padding-left: 6.19rem;
          padding-top: 3.87rem;

          @media (max-width: 900px) {
              flex-basis: 60%;
              max-width: 80%;
              padding-left: 0;
              padding-top: 0;
          }

          .block-competition__text {
              display: flex;
              flex-direction: column;
              flex-basis: 52%;
              justify-content: space-around;
              gap: 5%;

              @media (max-width: 900px) {
                  text-align: center;
                  flex-basis: 40%;
              }

              .block-competition__title {
                  text-align: center;
              }
          }

          .block-competition__nomination {
              flex-basis: 30%;

              @media (max-width: 900px) {
                  text-align: center;
              }

              .block-competition__nomination-title {
                  color: $btn;

              }

              .block-competition__nomination-list {
                  .block-competition__nomination-item {
                      font-weight: 700;
                      line-height: 2.25rem;
                      color: $header;
                      list-style-type: none;

                      @media (max-width: 900px) {
                          font-weight: 600;
                          line-height: 2rem;
                      }

                      @media (max-width: 500) {
                          font-weight: 0.6rem;
                          line-height: 1rem;
                      }

                      @media (max-width: 400) {
                          font-weight: 0.5rem;
                          line-height: 1rem;
                      }
                  }
              }

          }

          .block-competition__text-2 {
              flex-basis: 12%;

              @media (max-width: 900px) {
                  text-align: center;
              }
          }
      }

      .block-competition__img-block {
          display: flex;
          flex-direction: column;
          flex-basis: 60%;

          @media (max-width: 900px) {
              flex-basis: 40%;
          }

          .block-competition__img {
              display: flex;
              flex-basis: 100%;
              justify-content: center;
              margin-right: -20%;
              background-image: url(../images/competition-background.png);
              background-size: 34.8125rem 25.14531rem;
              background-position: 60% 50%;
              background-repeat: no-repeat;

              @media (max-width: 900px) {
                  background-size: 19rem auto;
              }

              .block-competition__img-inner {
                  display: flex;
                  flex-basis: 50%;
                  align-items: center;
                  justify-content: center;
                  background-image: url(../images/competition-girl.png);
                  background-position: 70% 60%;
                  background-repeat: no-repeat;

                  @media (max-width: 900px) {
                      background-size: 17rem auto;
                      background-position: 40% 60%;
                  }
              }

              .block-competition__vector {
                  width: 23.17156rem;
                  height: 4.95231rem;
                  transform: rotate(-15.203deg);
                  flex-shrink: 0;
              }
          }

          .block-competition__buttons {
              display: flex;
              flex-basis: 40%;
              justify-content: space-around;

              .block-competition__button {
                  display: inline-block;
                  align-self: center;

                  .block-competition__button-1 {
                      text-decoration: none;

                  }
              }
          }
      }
  }
}
.block-help {
  flex-basis: 12%;
  display: flex;

  .block-help__container {
      display: flex;
      flex: 1;
      gap: 5%;
      @media (max-width: 900px) {
          flex-direction: column;

      }

      .block-help__content {
          flex-basis: 50%;
          display: flex;
          flex-direction: column;

          .block-help__text {
              flex-basis: 60%;
              display: flex;
              flex-direction: column;
              gap: 10%;
          }

          .block-help__buttoms {
              flex-basis: 40%;
              display: flex;
              justify-content: space-between;

              .block-help__button {
                  display: inline-block;
                  align-self: center;

                  .block-help__button-1 {
                      text-decoration: none;
                  }
              }
          }
      }

      .block-help__img {
          flex-basis: 50%;
          .block-help__image {
              width: 100%;
          }
      }
  }

  /*может блок в дальнейшем будет меньше, пока ставлю по макету*/
}


