@charset "UTF-8";
@font-face {
  font-family: "TildaSansExtraBold";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.woff2") format("woff2"), url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansBold";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.woff2") format("woff2"), url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansRegular";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff2") format("woff2"), url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*заголовки*/
/*тексты*/
/*кнопки*/
/*текст кнопок*/
/*фон блоков 2,3,5*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media (max-width: 900px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 60%;
  }
}

.container {
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.button {
  padding: 0.75rem 2.5rem;
  border-radius: 1.5625rem;
  background: #BC2525;
  border: none;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  color: #F1F5FA;
  font-family: "TildaSansBold";
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
}

button:hover {
  background: #D72424;
}

h2 {
  color: #000;
  font-family: "TildaSansBold";
  font-size: 2.5rem;
  line-height: 4rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 312.5rem;
  /*пока ставлю как по макету текущему на дескопе*/
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

li {
  cursor: pointer;
}

.header {
  flex-basis: 3.18%;
}

.main {
  display: flex;
  flex-basis: 94.05%;
  flex-direction: column;
}

.festival {
  flex-basis: 11.25%;
}

.progress {
  flex-basis: 15.37%;
}

.partners {
  flex-basis: 10%;
}

.competition {
  flex-basis: 15.82%;
}

.review {
  flex-basis: 24.86%;
}

.help {
  flex-basis: 20.3%;
  /*может блок в дальнейшем будет меньше, пока ставлю по макету*/
}

.footer {
  flex-basis: 2.77%;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 5%;
  background: #F9F6F1;
}

.partners__heading {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.partners__buttons {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20%;
       column-gap: 20%;
  align-items: center;
}

.partners__buttons button {
  width: 100%;
}

.partners__slider img {
  width: 100%;
}

.partners__slider img:nth-child(3) {
  height: 4vh;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
  }
}
.partners__slider {
  position: relative;
  width: 90%;
  height: 17vh;
  margin-top: 3%;
  margin-bottom: 5%;
  padding-top: 2%;
  background-color: #FFF;
  border-radius: 4.6875rem;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  overflow: hidden;
}
.partners__slider::before, .partners__slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 17vh;
  position: absolute;
  width: 25%;
  z-index: 2;
}
.partners__slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.partners__slider::before {
  left: 0;
  top: 0;
}
.partners__slider .slide-track {
  width: 80%;
  display: flex;
  align-items: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  animation: scroll 20s linear infinite;
}
.partners__slider .slide-track img:nth-child(3) {
  width: 20%;
}
.partners__slider .slide {
  width: 20%;
}/*# sourceMappingURL=style.css.map */